<div class="main d-flex">
    <div class="card form">
        <div class="card-body">
            <form class="log-in" *ngIf="ishavingaccount">
      
                <div class="d-flex align-items-center mb-3 pb-1">
                </div>

                <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">log into your account</h5>

                <div class="form-outline mb-4">
                  <input type="text"  #username class="form-control form-control-lg"/>
                  <label class="form-label" for="username" >Username </label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password"   #password class="form-control form-control-lg"/>
                  
                  <label class="form-label" for="password" >Password</label>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="button" style="background-color: #20b883;" (click)="onLogin(username,password)">Login</button>
                </div>
              </form>

              <form class="sign-up" *ngIf="!ishavingaccount">
      
                <div class="d-flex align-items-center mb-3 pb-1">
                 
                  
                </div>

                <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">sign up</h5>

                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Username </label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password"  class="form-control form-control-lg"  />
                  <label class="form-label" for="password"> Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password"  class="form-control form-control-lg"  />
                  <label class="form-label" for="password"> Confirm Password</label>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="button" style="background-color: #20b883;">Create Account</button>
                </div>


            

              </form>

              <p  style="color: #393f81;" *ngIf="ishavingaccount" >
                <a href="javascript:;" (click)="ishavingaccount = !ishavingaccount">Don't have an account? </a> 

                <p  style="color: #393f81;" *ngIf="!ishavingaccount">
                  <a href="javascript:;"  (click)="ishavingaccount = !ishavingaccount" >Already have an account? </a> 
        </div>
    </div>
      
                     

                    
      
      
</div>
