

<div class="container mt-4">
    <h1>Users</h1>
        <div class="row">
            <div class="col-sm-6">
                <input type="text" name="" id="" class="form-control" placeholder="Search by Name" [(ngModel)]="SearchByValue">
                <p class="error-message text-right" *ngIf="SearchByValue.length < 2">Please enter at least 2 characters*</p>
            </div>
            <div class="text-right mx-4">
                <button mat-raised-button class="info" (click)="onFormreset()">Reset</button>
            </div>
        </div>

        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            - Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" 
          
             Position Column -->
            <!-- <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container> -->
          
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> User Avtar </th>
              <td mat-cell *matCellDef="let element"> {{element.profilePic}} </td>
            </ng-container> -->
          
            <!-- Weight Column -->
            <!-- <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> FullName </th>
              <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
            </ng-container> -->
          
            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>DOB</th>
              <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
            </ng-container> -->

            <!-- <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Gender</th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
              </ng-container>

              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Current Location</th>
                <td mat-cell *matCellDef="let element"> {{element.currentlocation}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> --> 
          

          <table class="table table-borderd my-5">
             <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>User Avtar</th>
                    <th>Full-Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>current-location</th>
                </tr>
             </thead>
             <tbody>
                <tr *ngFor="let user of userArr | userArray : SearchByValue ; index as i">
                   <td>{{i+1}}</td>
                   <td> <img src="{{user.profilePic}}" alt=""></td>
                   <td>{{user.fullName}}</td>
                   <td>{{user.dob}}</td>
                   <td>{{user.gender}}</td>
                   <td>{{user.currentCity}}</td>
                </tr>
             </tbody>
          </table>
          
    
</div>

