img{
    width: 24px;
    height: 28px;
    margin-right: 8px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #20b883;
    border-bottom: 3px solid #20b883;
}